* {
    width: 1200px;
    background-color: rgb(105, 99, 99);
}
h1 {
    display: flex;
    justify-content: center;
    color: golden;
}
nav {
    margin-top: 80px;
}
nav li {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}
